{% extends 'index.html' %}
{% block head %}

{% endblock head %}
{% block body %}
<section>
    <div class="contact-us-img">
        <img src="static\image\about-us.jpg" class="contact-img"
            style=" width: 100%; display: flex; align-items: center; justify-content: center; background-size: cover; background-position: center;position: relative;">
        <h1 class="text-center"
            style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: white; font-size: 5vw; font-weight: bolder;">
            About Us</h1>
    </div>
</section>

<section class="about-us container my-5">


        <h2 class="about-us-text-main mb-4">Discover Shri Yellamma Devi Tours & Travels</h2>
        <div class="about-txt">
          <p class="">
            Welcome to the world of Shri Yellamma Devi Tours & Travels, where your journey becomes an unforgettable
            experience. We are more than just a transportation service – we are your trusted partner in exploration and
            adventure.
          </p>
          <!-- Add more content about your company -->
          <p>
            Embark on a voyage with us as we redefine travel. Our commitment to excellence goes beyond the ordinary,
            ensuring your safety, comfort, and satisfaction. Whether it's a spiritual pilgrimage, a family vacation, or a
            business trip, we are here to make every moment count.
          </p>
          <p>
            Our fleet of modern vehicles, combined with skilled and courteous drivers, ensures a seamless and enjoyable
            journey for every passenger. At Shri Yellamma Devi Tours & Travels, we don't just meet expectations – we
            exceed them.
          </p>
          <p>
            Immerse yourself in the world of confident, comfortable, and convenient travel. Choose Shri Yellamma Devi
            Tours & Travels for your next adventure, and let us be a part of your extraordinary travel experiences.
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock body %}