
{% extends 'index.html' %}
{% block head %}
<title>Products</title>

<style>
    .services-head {
        font-size: 1.7vw;
        line-height: 1.6;
    }
</style>
{% endblock head %}
{% block body %}

<h1 class="text-center services-head"> Our Services </h1>

<div class="container">

    <br>
    <div class="row" id="ads">
      <!-- Category Card -->
      <div class="col-md-4">
        <div class="card rounded">
          <div class="card-image">
            <span class="card-notify-badge">186 KM</span>

            <img class="img-fluid" src="https://media.zigcdn.com/media/model/2022/Mar/tour-s_600x400.jpg"
              alt="Alternate Text" />
          </div>
          <div class="card-image-overlay m-auto">
            <span class="card-detail-badge">Pune</span>
            <span class="card-detail-badge">To</span>
            <span class="card-detail-badge">Shirdi</span>
          </div>
          <div class="card-body text-center">
            <div class="ad-title m-auto">
              <h5>swift dzire</h5>
            </div>
            <a class="ad-btn" href="#">Contact Driver</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card rounded">
          <div class="card-image">
            <span class="card-notify-badge">120 KM</span>
            <img class="img-fluid" src="https://media.zigcdn.com/media/model/2022/Mar/tour-s_600x400.jpg"
              alt="Alternate Text" />
          </div>
          <div class="card-image-overlay m-auto">
            <span class="card-detail-badge">Pune</span>
            <span class="card-detail-badge">To</span>
            <span class="card-detail-badge">Mahabaleswar</span>
          </div>
          <div class="card-body text-center">
            <div class="ad-title m-auto">
              <h5>swift dzire</h5>
            </div>
            <a class="ad-btn" href="#">Contact Driver</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card rounded">
          <div class="card-image">
            <span class="card-notify-badge">150 KM</span>

            <img class="img-fluid" src="https://media.zigcdn.com/media/model/2022/Mar/tour-s_600x400.jpg"
              alt="Alternate Text" />
          </div>
          <div class="card-image-overlay m-auto">
            <span class="card-detail-badge">Pune</span>
            <span class="card-detail-badge">To</span>
            <span class="card-detail-badge">Mumbai</span>
          </div>
          <div class="card-body text-center">
            <div class="ad-title m-auto">
              <h5>swift dzire</h5>
            </div>
            <a class="ad-btn" href="#">Contact Driver</a>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="container">

    <br>
    <div class="row" id="ads">
      <!-- Category Card -->
      <div class="col-md-4">
        <div class="card rounded">
          <div class="card-image">
            <span class="card-notify-badge">214KM</span>

            <img class="img-fluid" src="https://media.zigcdn.com/media/model/2022/Mar/tour-s_600x400.jpg"
              alt="Alternate Text" />
          </div>
          <div class="card-image-overlay m-auto">
            <span class="card-detail-badge">Pune</span>
            <span class="card-detail-badge">To</span>
            <span class="card-detail-badge">Nashik</span>
          </div>
          <div class="card-body text-center">
            <div class="ad-title m-auto">
              <h5>swift dzire</h5>
            </div>
            <a class="ad-btn" href="#">Contact Driver</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card rounded">
          <div class="card-image">
            <span class="card-notify-badge">253 KM</span>
            <img class="img-fluid" src="https://media.zigcdn.com/media/model/2022/Mar/tour-s_600x400.jpg"
              alt="Alternate Text" />
          </div>
          <div class="card-image-overlay m-auto">
            <span class="card-detail-badge">Pune</span>
            <span class="card-detail-badge">To</span>
            <span class="card-detail-badge">Solapur</span>
          </div>
          <div class="card-body text-center">
            <div class="ad-title m-auto">
              <h5>swift dzire</h5>
            </div>
            <a class="ad-btn" href="#">Contact Driver</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card rounded">
          <div class="card-image">
            <span class="card-notify-badge">233 KM</span>

            <img class="img-fluid" src="https://media.zigcdn.com/media/model/2022/Mar/tour-s_600x400.jpg"
              alt="Alternate Text" />
          </div>
          <div class="card-image-overlay m-auto">
            <span class="card-detail-badge">Pune</span>
            <span class="card-detail-badge">To</span>
            <span class="card-detail-badge">kolhapur</span>
          </div>
          <div class="card-body text-center">
            <div class="ad-title m-auto">
              <h5>swift dzire</h5>
            </div>
            <a class="ad-btn" href="#">Contact Driver</a>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock body %}
